extends ../../layout/with-nav.jade
//ddsddbsd
block content
    .container		
        .row
            .col-lg-8
                .project
                    .project-info.clearfix
                        .project-discript
                            h1 this is a test
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim viverra suscipit. Nam et magna vitae elit gravida fermentum sit amet a nunc. Quisque fermentum felis sit amet tellus lacinia sodales. Cras pulvinar malesuada nunc. Maecenas gravida facilisis sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        .project-meta
                            button view project
                            .project-members
                            h3.project-complete-ness 50%