extends ../../layout/with-nav.jade
//ddsddbsd
block content
    .container		
        .row
            .col-lg-8
                .project(ng-repeat="project in Phased.team.projects")
                    .project-info.clearfix
                        .project-discript
                            h1 {{project.name}}
                            p(ng-if="project.description") {{project.description}}
                            p(ng-if="!project.description") no description entered
                        .project-meta
                            button.btn.btn-phased-important view project
                            .project-members
                            h3.project-due(ng-if="project.dueDate") {{project.dueDate}}
                            h3.project-due(ng-if="!project.dueDate") No due date
                            h2.project-complete-ness(ng-if="hasTasks(project.tasks)") 00%
                            h2.project-complete-ness(ng-if="!hasTasks(project.tasks)") --%
            .col-lg-4
                button.btn-phased-not-important-solid.new-project New project	                