#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.route-team {
  .team-member {
    display: block;
    float: left;
    width: 20%;
    height: 15rem;
    
    padding: 1rem;
    margin: 1rem;

    background: #00B376;
    border-radius: 2rem;
    color: white;

    img {
      display: block;
      margin: 0 auto;
    }

    .status-name {
      font-size: 2rem;
    }

    .status-time {
      font-size: 0.8em;
    }
  }
}