header#banner.hero-unit
  .container
    h1 Team: {{Phased.team.details.name}}
    p.lead Currently logged in as {{Phased.user.name}}

.container
  .row
    .col-lg-12
      p This is where the team page will go.