extends ../../layout/with-nav.jade
//ddsddbsd
block content
	// header#banner.hero-unit
	// 	.container
	// 		h1 {{Phased.team.details.name}}
	// 		p.lead Add new member

	.container		
		.row
			.col-lg-6
				form(name="statusUpdate" ng-submit="postStatus(newStatus)")
					input(name="newStatus" ng-model="newStatus" placeholder="What are you up to?")
				.team-member(ng-repeat="member in Phased.team.members")
					.member-post.clearfix
						img(ng-src="{{member.profile.gravatar}}" class="circular" title="{{member.profile.name}}")
						.member-details
							p.status-name {{Phased.team.statuses[member.currentStatus].name}}
							p.status-time
								time {{Phased.team.statuses[member.currentStatus].startTime | date : 'short'}}
					
