extends ../../layout/with-nav.jade
//ddsddbsd
block content
	header#banner.hero-unit
		.container
			h1 {{Phased.team.details.name}}
			p.lead Add new member

	.container
		.row
			.col-lg-12
				form(name="statusUpdate" ng-submit="postStatus(newStatus)")
					input(name="newStatus" ng-model="newStatus" placeholder="What are you up to?")
		.row
			.col-lg-12
				.team-member(ng-repeat="member in Phased.team.members")
					img(ng-src="{{member.profile.gravatar}}" class="circular" title="{{member.profile.name}}")
					p.status-name {{Phased.team.statuses[member.currentStatus].name}}
					p.status-time
						time {{Phased.team.statuses[member.currentStatus].startTime | date : 'short'}}
