extends ../../layout/with-nav.jade
//ddsddbsd
block content
  
  .container.bgcontainer
    .row
      
        
      .col-lg-8.col-lg-offset-2
        .profile-info
          img.circular(ng-src="{{Phased.user.gravatar}}")
          h2 {{Phased.user.name}}
          h6 Ass kicker in chief
          hr
          button.btn-phased-not-important-sneaky.btn-block(ng-click="showContact = true;") contact
          .contact-info(ng-show="showContact")
            ul
              li
                span tel:
                p 905 878 3623
              li
                span email:
                p brian@phased.io
              li
                span slack:
                p @brian
        .profile-view-select
          button.btn-phased-not-important-solid(ng-class="{active : profileView == 'status'}" ng-click="profileView = 'status'") Statuses
          button.btn-phased-not-important-solid(ng-class="{active : profileView == 'task'}" ng-click="profileView = 'task'") Tasks
        
        .profile-view-statuses(ng-show="profileView == 'status'")
          .team-member(ng-repeat="member in Phased.team.statuses" ng-if="member.user == Phased.user.uid")
            .member-post.clearfix
              img(ng-src="{{Phased.user.gravatar}}" class="circular" title="{{Phased.user.name}}")
              .member-details
                p.status-name {{member.name}}
                .member-options
                  a.like-status Like
                  a.comment-status Comment
                  p.status-time
                    time {{member.startTime | date : 'short'}}
                  //Tags n context stuff here  
        .profile-view-task(ng-show="profileView == 'task'")
          .tasks(ng-repeat="task in Phased.team.tasks" ng-if="task.assignment.to == Phased.user.uid")
            .task.clearfix
              //img(ng-src="{{Phased.user.gravatar}}" class="circular" title="{{Phased.user.name}}")
              .task-details
                p.status-name {{task.name}}
                .member-options
                  a.like-status Like
                  a.comment-status Comment
                  p.status-time
                    time {{task.dueDate | date : 'short'}}
                  //Tags n context stuff here 
          .no-tasks
            h3 No tasks assigned to user                   