header#banner.hero-unit
  .container
    h1 Reports
    nav
      a.today(href="#" ng-click="onToday($event)") Today
      a.button.filter(href="#" ng-click="onFilter($event)") Filter
      a.button.export(href="#" ng-click="onExport($event)") Export

.container
  .row
    .col-lg-12
      //- in a list for semantic markup
      ul
        li.status(ng-repeat="status in Phased.team.statuses | orderObjectBy : 'startTime' : true" class="type-{{Phased.meta.status.TYPE[status.type]}}")
          img.user-img.circular(ng-src="{{Phased.team.members[status.user].gravatar}}")
          article
            p.user-name {{Phased.team.members[status.user].name}}
            h1 {{status.name}} 
            p.start-time
              time {{status.startTime | date : 'short'}}
          //- I'd use footer here but it looks like the fullstack generator wants it to be a directive
          aside
            .activity
              a.likes(href="#" ng-click="onLikes($event, status)") Like
                span.counter
              a.comments(href="#" ng-click="onComments($event, status)") Comments
                span.counter
