#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}


.route-reports {
  .status-list {
    max-width: 62rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li.status {
      @extend .clearfix;

      display: block;
      border-radius: 2rem;
      padding: 1rem;
      margin: 1rem;
      border: thin solid black;

      .top {
        @extend .clearfix;
        & > * {
          display: block;
          position: relative;
          float: left;
        }
      }

      img.user-img {
        width: 8rem;
      }

      article {
        width: 48rem;
        margin-left: 1rem;
        h1, p {
          margin: 0;
        }
      }
    }
  } 
}