.container
  .row
    .col-lg-4.col-lg-offset-4.login
      img(src="assets/images/phased.png", width="100px")
      h2 Phased
      form.spacer(name='login-form', ng-submit='login()')
        label(for='email') Email
        input(type='text', name='email', ng-model='email', ng-change='userChg()',placeholder="email address")

        label.break(for='password') Password
        input(type='password', name='password', ng-model='password')

        input.btn.btn-phased-important.break(type='submit', value='Let\'s Party')
        button.btn.btn-phased-not-important.break(type='button', value='Forgot') Forgot 
        br
        p.error-message {{loginErrMessage}}