.container
  .row
    .col-lg-12
      h1.page-header Log in to Phased:
      form(name='login-form', ng-submit='login()')
        label(for='username') Username
        input(type='text', name='username', ng-model='username', ng-change='userChg()')

        label(for='password') Password
        input(type='password', name='password', ng-model='password')

        input(type='submit', value='Let\'s Party')